<h1>Look at all these Cat Rentals! </h1>

    <table>
        <tr>
            <th>Cat</th>
            <th>Start Date</th>
            <th>End Date</th>
        
            <% @cat_rental_requests.order(:start_date).each do |request| %>
                <tr>
                    <td> <%= request.cat_id %> </td>  
                    <td> <%= request.start_date %> </td>  
                    <td> <%= request.end_date %> </td>   
                    <td> <%= request.status %> </td>
                </tr>           
            <% end %>
        
    </table>
<br>
<a href="<%= cats_url %>">Back to see the cats!</a>
<br>
<a href="<%= new_cat_rental_request_url %>">Make a new cat Rental Request</a>
